id(int,auto) username(str) domain(str) password(str) email_address(str) ha1(str) ha1_sha256(str) ha1_sha512t256(str) rpid(str,null)
1:${CALLER}:${DOMAIN}:${CALLER_PASSWORD}: : : : :
2:${CALLEE}:${DOMAIN}:${CALLEE_PASSWORD}: : : : :
